body { 
	background-color:#CCCCCC;
	font-family:Geneva,Arial,Helvetica,sans-serif; 
	margin: 0px auto; 
	max-width:967px; 
	border:solid; 
	border-color:#FFFFFF; 
}
img{
	width:320px;
	height:240px;
	background-color:red;
	border:1px solid white;
}

